{
  "openapi": "3.0.1",
  "info": {
    "title": "ddoganzip API Documentation",
    "description": "API for ddoganzip project",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://localhost:8080",
      "description": "개발 서버"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {},
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}