name: Deploy Swagger UI to GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew

      - name: Generate OpenAPI spec
        run: ./gradlew generateOpenApiDocs


      - name: Prepare files for deployment
        run: |
          # 1. 배포할 폴더 생성
          mkdir ./gh-pages-dist
          # 2. 생성된 swagger.yaml을 배포 폴더로 복사
          cp build/docs/swagger.yaml ./gh-pages-dist/
          # 3. 우리가 만든 /swagger/index.html을 배포 폴더로 복사
          cp swagger/index.html ./gh-pages-dist/
          # 4. Jekyll 비활성화 파일 생성
          touch ./gh-pages-dist/.nojekyll

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./gh-pages-dist # 배포할 폴더 지정